/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
html, body {
  margin: 0;
  padding: 0; 
  height: 100%;
}

.content {
  padding: 10px 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

#main-container {
  position: relative;
  min-height: 100%;
}

#main {
  padding-bottom: 170px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 130px;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding-top: 30px;
  text-align: center;
  div {
    margin: 0 auto;
  }
  ul {
    display: inline-block;
    margin-top: 20px;
  }
  .slogan {
    font-size: 48px;
  }
  .social {
    width: 40%;
    height: 50px;
    line-height: 50px;
  }
}

a {
  color: #0088cc;
  text-decoration: underline;
}

.hidden {
  display: none !important;
}
