.home {
  margin: 0 auto;
  width: 1170px;
}

.home-page {
  text-align: center;
  h1 {
    font-size: 72px;
    margin: 40px 0;
  }
  img {
    margin: 30px 0;
  }
  .advantages p {
    text-align: justify;
  }
}
