#main-tabs-section {
  ul li {
    list-style: none;
  }
}

#webs {
  .tweet {
    display: none;
  }
  .toggle-display-tweet {
    cursor: pointer;
  }
}

#iframe-container {
  text-align: center;
  object {
    width: 100%;
    height: 800px;
  }
}
